/*font-awesome的图标*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-comments-o:before {
    content: "\f0e6";
}
.fa-window-restore:before {
    content: "\f2d2";
}
.fa-arrows-alt:before {
    content: "\f0b2";
}
.fa-minus:before {
    content: "\f068";
}
.fa-search:before {
    content: "\f002";
}
.fa-heart:before {
    content: "\f004";
}
.fa-comments:before {
    content: "\f086";
}
.fa-reply:before {
    content: "\f112";
}
.fa-header:before {
    content: "\f1dc";
}
.fa-bold:before {
    content: "\f032";
}
.fa-picture-o:before {
    content: "\f03e";
}
.fa-youtube-play:before {
    content: "\f16a";
}
.fa-undo:before {
    content: "\f0e2";
}
.fa-repeat:before {
    content: "\f01e";
}
.fa-link:before {
    content: "\f0c1";
}
.fa-align-left:before {
    content: "\f036";
}
.fa-align-center:before {
    content: "\f037";
}
.fa-align-right:before {
    content: "\f038";
}
.fa-file-text:before {
    content: "\f15c";
}
.fa-times:before {
    content: "\f00d";
}
.fa-mail-forward:before,
.fa-share:before {
    content: "\f064";
}
.fa-unlink:before,
.fa-chain-broken:before {
    content: "\f127";
}
.fa-eraser:before {
    content: "\f12d";
}
.fa-floppy-o:before {
    content: "\f0c7";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-chevron-up:before {
    content: "\f077";
}
.fa-user:before {
    content: "\f007";
}
.fa-chevron-right:before {
    content: "\f054";
}
.fa-star:before {
    content: "\f005";
}
.fa-paper-plane:before {
    content: "\f1d8";
}
.fa-file-text-o:before {
    content: "\f0f6";
}
.fa-lock:before {
    content: "\f023";
}
.fa-star-o:before {
    content: "\f006";
}
.fa-info-circle:before {
    content: "\f05a";
}
.fa-television:before {
    content: "\f26c";
}
.fa-user-o:before {
    content: "\f2c0";
}
.fa-heart-o:before {
    content: "\f08a";
}
.fa-angle-left:before {
    content: "\f104";
}
.fa-bars:before {
    content: "\f0c9";
}
.fa-question-circle-o:before {
    content: "\f29c";
}
.fa-cloud-download:before {
    content: "\f0ed";
}
.fa-play:before {
    content: "\f04b";
}
.fa-users:before {
    content: "\f0c0";
}
.fa-home:before {
    content: "\f015";
}
.fa-file:before {
    content: "\f15b";
}
.fa-quote-left:before {
    content: "\f10d";
}
.fa-sign-out:before {
    content: "\f08b";
}
.fa-arrow-up:before {
    content: "\f062";
}