/*font-awesome的图标*/
@font-face {
    font-family: 'FontAwesome';
    src: url('./fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-comments-o:before {
    content: "\f0e6";
}
.fa-window-restore:before {
    content: "\f2d2";
}
.fa-arrows-alt:before {
    content: "\f0b2";
}
.fa-minus:before {
    content: "\f068";
}
.fa-search:before {
    content: "\f002";
}
.fa-heart:before {
    content: "\f004";
}
.fa-comments:before {
    content: "\f086";
}
.fa-reply:before {
    content: "\f112";
}
.fa-header:before {
    content: "\f1dc";
}
.fa-bold:before {
    content: "\f032";
}
.fa-picture-o:before {
    content: "\f03e";
}
.fa-youtube-play:before {
    content: "\f16a";
}
.fa-undo:before {
    content: "\f0e2";
}
.fa-repeat:before {
    content: "\f01e";
}
.fa-link:before {
    content: "\f0c1";
}
.fa-align-left:before {
    content: "\f036";
}
.fa-align-center:before {
    content: "\f037";
}
.fa-align-right:before {
    content: "\f038";
}
.fa-file-text:before {
    content: "\f15c";
}
.fa-times:before {
    content: "\f00d";
}
.fa-mail-forward:before,
.fa-share:before {
    content: "\f064";
}
.fa-unlink:before,
.fa-chain-broken:before {
    content: "\f127";
}
.fa-eraser:before {
    content: "\f12d";
}
.fa-floppy-o:before {
    content: "\f0c7";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-chevron-up:before {
    content: "\f077";
}

/*阿里的图标*/
@font-face {
    font-family: "iconfont";
    src: url('./fonts/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size: inherit;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
    content: "\e603";
}
.icon-liaotian:before {
    content: "\e624";
}
.icon-pinglun1:before {
    content: "\e62c";
}

